In [5]:
from pymongo import MongoClient
import pandas as pd

In [6]:
client = MongoClient("localhost:27017")

In [8]:
db = client.get_database("ironhack")

In [9]:
companies = db.get_collection("companies")

In [20]:
Mi_lista= list(companies.find({"$and": [{'category_code': 'games_video'},{'founded_year': {"$gte": 2010}},{'number_of_employees':{'$gt':60}}]},{'name': 1,'number_of_employees': 1, '_id':0}))

In [21]:
Mi_lista

[{'name': 'Social Gaming Network', 'number_of_employees': 100}]

In [38]:
Mi_lista2= list(companies.find({"$and": [{'category_code': 'games_video'},{'number_of_employees': {"$lt": 100}},{'number_of_employees':{'$gt':60}}]},{'name': 1,'number_of_employees': 1,'founded_year':1,'offices.city':1, 'offices.latitude':1,'offices.longitude': 1,'offices.country_code':1, '_id':0}))

In [39]:
Mi_lista2

[{'name': 'Kewego',
  'number_of_employees': 65,
  'founded_year': 2003,
  'offices': [{'city': 'Paris',
    'country_code': 'FRA',
    'latitude': 46.227638,
    'longitude': 2.213749}]},
 {'name': 'Origin Digital',
  'number_of_employees': 80,
  'founded_year': 1997,
  'offices': [{'city': 'Weehawken',
    'country_code': 'USA',
    'latitude': 40.761979,
    'longitude': -74.026033}]},
 {'name': 'YUPPTV',
  'number_of_employees': 70,
  'founded_year': 2008,
  'offices': [{'city': 'Alpharetta',
    'country_code': 'USA',
    'latitude': 17.415429,
    'longitude': 78.434422}]},
 {'name': 'sevenload',
  'number_of_employees': 67,
  'founded_year': 2006,
  'offices': [{'city': 'Cologne',
    'country_code': 'DEU',
    'latitude': 50.945289,
    'longitude': 6.921546}]},
 {'name': 'Meteor Games',
  'number_of_employees': 70,
  'founded_year': 2007,
  'offices': [{'city': 'Beverly Hills',
    'country_code': 'USA',
    'latitude': 34.09316,
    'longitude': -118.378335}]},
 {'name': 'TransGaming',
  'number_of_employees': 80,
  'founded_year': 2001,
  'offices': []},
 {'name': 'Quickflix',
  'number_of_employees': 75,
  'founded_year': None,
  'offices': [{'city': 'Perth',
    'country_code': 'AUS',
    'latitude': None,
    'longitude': None}]},
 {'name': 'StreamTheWorld',
  'number_of_employees': 65,
  'founded_year': 2005,
  'offices': [{'city': 'MontrÃ©al',
    'country_code': 'CAN',
    'latitude': 45.4961227,
    'longitude': -73.5767499},
   {'city': 'Lausanne',
    'country_code': 'CHE',
    'latitude': 46.5206291,
    'longitude': 6.6328274}]},
 {'name': '[212]Media',
  'number_of_employees': 75,
  'founded_year': 2004,
  'offices': [{'city': 'New York',
    'country_code': 'USA',
    'latitude': 40.743877,
    'longitude': -73.98618}]}]

In [146]:
DataFrame= pd.DataFrame(Mi_lista2)

In [147]:
DataFrame=DataFrame.drop(DataFrame.index[5])

In [148]:
DataFrame=DataFrame.reset_index()

In [149]:
DataFrame

,index,name,number_of_employees,founded_year,offices
0,0,Kewego,65,2003.0,"[{'city': 'Paris', 'country_code': 'FRA', 'lat..."
1,1,Origin Digital,80,1997.0,"[{'city': 'Weehawken', 'country_code': 'USA', ..."
2,2,YUPPTV,70,2008.0,"[{'city': 'Alpharetta', 'country_code': 'USA',..."
3,3,sevenload,67,2006.0,"[{'city': 'Cologne', 'country_code': 'DEU', 'l..."
4,4,Meteor Games,70,2007.0,"[{'city': 'Beverly Hills', 'country_code': 'US..."
5,6,Quickflix,75,NaN,"[{'city': 'Perth', 'country_code': 'AUS', 'lat..."
6,7,StreamTheWorld,65,2005.0,"[{'city': 'MontrÃ©al', 'country_code': 'CAN', ..."
7,8,[212]Media,75,2004.0,"[{'city': 'New York', 'country_code': 'USA', '..."

In [150]:
DataFrame['offices'][0][0]['country_code']

'FRA'

In [160]:
Lista_Ciudades= []
for i in range(0,8):
   Lista_Ciudades.append(DataFrame['offices'][i][0]['city'])

In [161]:
Lista_Ciudades

['Paris',
 'Weehawken',
 'Alpharetta',
 'Cologne',
 'Beverly Hills',
 'Perth',
 'MontrÃ©al',
 'New York']

In [194]:
Lista_Paises= []
for i in range(0,8):
   Lista_Paises.append(DataFrame['offices'][i][0]['country_code'])

In [195]:
Lista_Paises

['FRA', 'USA', 'USA', 'DEU', 'USA', 'AUS', 'CAN', 'USA']

In [196]:
Lista_latitude=[]
for i in range(0,8):
   Lista_latitude.append(DataFrame['offices'][i][0]['latitude'])

In [197]:
Lista_latitude

[46.227638,
 40.761979,
 17.415429,
 50.945289,
 34.09316,
 None,
 45.4961227,
 40.743877]

In [198]:
Lista_longitude=[]
for i in range(0,8):
   Lista_longitude.append(DataFrame['offices'][i][0]['longitude'])

In [199]:
Lista_longitude

[2.213749,
 -74.026033,
 78.434422,
 6.921546,
 -118.378335,
 None,
 -73.5767499,
 -73.98618]

In [200]:
DataFrame['City']= Lista_Ciudades

In [201]:
DataFrame['Country']= Lista_Paises

In [202]:
DataFrame['Latitude']= Lista_latitude

In [203]:
DataFrame['Longitude']= Lista_longitude

In [207]:
DataFrame= DataFrame.drop(['offices'], axis=1)

In [211]:
DataFrame

,index,name,number_of_employees,founded_year,City,Country,Latitude,Longitude
0,0,Kewego,65,2003.0,Paris,FRA,46.227638,2.213749
1,1,Origin Digital,80,1997.0,Weehawken,USA,40.761979,-74.026033
2,2,YUPPTV,70,2008.0,Alpharetta,USA,17.415429,78.434422
3,3,sevenload,67,2006.0,Cologne,DEU,50.945289,6.921546
4,4,Meteor Games,70,2007.0,Beverly Hills,USA,34.093160,-118.378335
5,6,Quickflix,75,NaN,Perth,AUS,NaN,NaN
6,7,StreamTheWorld,65,2005.0,MontrÃ©al,CAN,45.496123,-73.576750
7,8,[212]Media,75,2004.0,New York,USA,40.743877,-73.986180

Me voy a quedar con las empresas de Nueva York, Paris, y Beverly Hills, dado que considero que son las ciudades dónde hay más infraestructura además de que todas ellas se han fundado entre 2000 y 2010, y tienen un número de empleados similar al de mi empresa

In [213]:
DataFrame= DataFrame.drop([1,2,3,5,6])

In [215]:
DataFrame=DataFrame.reset_index()

In [223]:
DataFrame= DataFrame.drop(['index'], axis=1)

In [225]:
DataFrameLimpito= DataFrame

In [226]:
DataFrameLimpito.to_csv("data/DataFrame.csv")